<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>
<section class="card-login">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col mt-3">
        <div class="card card-registration card-login my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img class ="photo" src="https://d.newsweek.com/en/full/2088023/flight-attendants-boarding-plane.jpg?w=1600&h=1600&q=88&f=749d63efa4b2323faba0094b8b696e15"
                alt="Sample photo" class="img-fluid"
                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
            </div>
            <div class="col-xl-6">
              <div class="p-md-5">
            <%= link_to root_path do %>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            <% end %>
                <h3 class="mb-5">Cadastre-se</h3>

                <div class="form-inputs m-auto">
                  <div class="d-flex justify-content-around flex-wrap">
                    <%= f.input :first_name,
                                required: true,
                                autofocus: true,
                                input_html: { autocomplete: "name", :style => 'width: 250px' },
                                label: 'Nome'%>
                    <%= f.input :last_name,
                                required: true,
                                autofocus: true,
                                input_html: { autocomplete: "last name", :style => 'width: 250px' },
                                label: 'Sobrenome'%>
                  </div>
                  <div class="d-flex justify-content-around flex-wrap">
                    <%= f.input :cpf,
                                required: true,
                                autofocus: true,
                                input_html: { autocomplete: "CPF", :style=> 'resize: none; width: 250px', :rows => 1 },
                                label: 'CPF'%>
                    <%= f.input :re,
                                required: true,
                                autofocus: true,
                                input_html: { autocomplete: "RE", :style=> 'resize: none; width: 250px', :rows => 1  },
                                label: 'RE'%>
                  </div>
                  <div class="d-flex justify-content-around flex-wrap">
                    <%= f.input :email,
                              required: true,
                              autofocus: true,
                              input_html: { autocomplete: "email", :style => 'width: 250px' },
                              label: 'Email'%>
                    <%= f.input :phone,
                                required: true,
                                autofocus: true,
                                input_html: { autocomplete: "phone", :style=> 'resize: none; width: 250px', :rows => 1  },
                                label: 'Telefone celular' %>
                  </div>
                  <div class="d-flex justify-content-around flex-wrap">
                    <%= f.input :password,
                                required: true,
                                hint: ("Mínimo de #{@minimum_password_length} caracteres" if @minimum_password_length),
                                input_html: { autocomplete: "new-password", :style => 'width: 250px' },
                                label: 'Senha'%>
                    <%= f.input :password_confirmation,
                                required: true,
                                input_html: { autocomplete: "new-password", :style => 'width: 250px' },
                                label: 'Confirmação de senha'%>
                  </div>
                  <div class="d-flex justify-content-around align-items-center flex-wrap">
                    <%= f.association :company,
                                  collection: Company.all,
                                  required: true,
                                  autofocus: true,
                                  label: "Compania",
                                  input_html: { :style => 'width: 250px' } %>
                    <%= f.file_field :avatar, class: 'm-3', :style => 'width: 225px' %>
                  </div>
                <div class="form-actions">
                  <%= f.button :submit, "Enviar", class: 'btn-main mt-3' %>
                </div>
              <% end %>

              <%# <%= link_to "Log in", sign_in_path %>
              <%# <%= render "devise/shared/links" %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>


    <%# <div class="form-outline mb-4">
      <input type="text" id="form3Example9" class="form-control form-control-lg" />
      <label class="form-label" for="form3Example9">DOB</label>
    </div>

    <div class="form-outline mb-4">
      <input type="text" id="form3Example90" class="form-control form-control-lg" />
      <label class="form-label" for="form3Example90">Pincode</label>
    </div>

    <div class="form-outline mb-4">
      <input type="text" id="form3Example99" class="form-control form-control-lg" />
      <label class="form-label" for="form3Example99">Course</label>
    </div>

    <div class="form-outline mb-4">
      <input type="text" id="form3Example97" class="form-control form-control-lg" />
      <label class="form-label" for="form3Example97">Email ID</label>
    </div> %>
