<div class="container">

  <%= simple_form_for(request) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="d-flex justify-content-around mt-5 mb-5" id="form-bg">
      <div>
          <%= f.input :request_type, placeholder: 'request_type' %>
          <%= f.input :start_time, placeholder: 'start_time' %>
          <%= f.input :end_time, placeholder: 'end_time' %>
          <%= f.input :origin, placeholder: 'origin' %>
          <%= f.input :destination, placeholder: 'destination' %>
          <%= f.input :available, placeholder: 'available' %>
          <%= f.submit class: 'btn btn-primary hover:text-primary rounded-pill shadow-sm border px-4' %>
          <%=link_to "Back to Home", "/", class: 'btn btn-primary hover:text-primary rounded-pill shadow-sm border px-4'%>
      </div>
    </div>
  <% end %>
</div>
