<%= month_calendar(events: requests, end_attribute: :end_time) do |date, reqs| %>
  <%= date.day %>
  <% reqs.each do |request| %>
    <div class="meeting">
      <% if date == request.start_time.to_date  %>
        <%= request.origin %>
        <%= request.start_time.strftime("%H:%M") %>
      <% end %>
      <% if date == request.end_time.to_date  %>
        <%= request.destination %>
        <%= request.end_time.strftime("%H:%M") %>
      <% end  %>
    </div>
  <% end %>
<% end %>
