
<%= month_calendar(events: requests, end_attribute: :end_time) do |date, reqs| %>
  <%= date %>
  <% reqs.each do |request| %>
    <div class="meeting">
      <p><%= request.origin %></p>
      <p><%= request.destination %></p>
      <p><%= request.start_time %></p>
      <p><%= request.end_time %></p>
    </div>
  <% end %>
<% end %>
