<%= render "shared/modal-turbo" do %>
  <div class="container mt-5">
    <h1>Edit Request</h1>

    <p>Nome: <%= @request.user.first_name %></p>
    <p>Sobrenome: <%= @request.user.last_name %></p>
    <p>Tipo de requisicao: <%= @request.request_type %></p>
    <p>Origem: <%= @request.origin %></p>
    <p>Destino: <%= @request.destination %></p>
  </div>
<% end %>
