<div data-controller="open-calendar">
  <h1>Requests</h1>

  <div id="form-bg">
    <%= form_with url: requests_path, method: :get, class: "d-flex", data: { controller: 'flatpickr-search' } do |f| %>
      <div id="ida">
        <%= text_field_tag :start_time, params[:start_time], data: { 'flatpickr-search-target': "startTime" }, placeholder: "Ida" %>
      </div>
      <div id="volta">
        <%= text_field_tag :end_time, params[:end_time], data: { 'flatpickr-search-target': "endTime" }, placeholder: "Volta" %>
      </div>
      <div id="origem">
        <%= text_field_tag :origin, params[:origin], placeholder: "Origem" %>
      </div>
      <div id="destino">
        <%= text_field_tag :destination, params[:destination], placeholder: "Destino" %>
      </div>
      <div id="pesquisar">
        <%= submit_tag "Pesquisar", class: "btn-main" %>
      </div>
    <% end %>
  </div>

<!-- ACEITAR TUDO ABAIXO -->
  <div class="container">
    <div class="request_card_total">
      <% @requests.each do |request| %>
        <% if request.user.company == current_user.company  %>
        <div class="request_card">
          <div>
              <p><%= request.exchange.present? ? "Ja em negociacao" : "Disponivel" %></p>
              <h3>  <% if request.request_type == "Folgar" %> </h3>
                    <h3> Quer trabalhar? </h3>
                    <% elsif request.request_type == "Extra" %>
                    <h3> Quer Folgar? </h3>
                    <% else request.request_type == "Trocar" %>
                    <h3> Quer trocar? </h3>
                    <% end %>
              <p> <i class="fa-regular fa-calendar"></i> <%= l request.start_time, format: :short %> <i class="fa-solid fa-arrow-right"></i> <%= l request.end_time, format: :short %> </p>
              <p> <i class="fa-solid fa-location-dot"></i> <%= request.origin %> <i class="fa-solid fa-arrow-right"></i> <%= request.destination %> </p>
              <p> <i class="fa-regular fa-clock"></i> <%= request.created_at.strftime("%d %b %y") %> </p>

                <%= link_to "Quero esta chave", request_path(request), :class => "btn btn-main", data: { turbo: true, turbo_frame: "modal" } unless request.user == current_user %>
                <div class="d-flex gap-3">
                <% if policy(request).edit? %>
                  <%=  link_to "", edit_request_path(request), class: "fa-solid fa-pen-to-square index-icons" if policy(request).edit?%>
                  <%= button_to "", request, class: "fa-regular fa-trash-can index-icons", method: :delete if policy(request).destroy?%>
                  <button type="button" class="btn btn-calendar" data-action="click->open-calendar#open" data-open-calendar-id-param='<%= request.id %>'>
                  <i class="fa-solid fa-calendar-days"></i>
                  </button>
                <% end %>
                </div>
                <!-- Button trigger modal -->

          </div>
          <div>
              <label class="btn avatar-photo">
              <% if request.user.avatar.attached? %>
              <%= cl_image_tag request.user.avatar.key %>
              <% else %>
                <%= image_tag "https://i1.sndcdn.com/avatars-000255771415-dx5rag-t200x200.jpg"%>
              </label>
              <p> <i class="fa-solid fa-user"></i> <%= request.user.first_name.capitalize %> quer <%= request.request_type %> </p>
              <% end %>
          </div>
          <% else %>
          Não existem pedidos na sua companhia aérea.
          <% end %>
        </div>
        <% end %>
      </div>

  <!-- Modal -->
    <div class="modal modal-lg fade" data-open-calendar-target='modal' tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" data-open-calendar-target='modalBody'>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ACEITAR TUDO ACIMA -->
