<div data-controller="open-calendar">
  <h1>Requests</h1>

  <div id="form-bg">
    <%= form_with url: requests_path, method: :get, class: "d-flex", data: { controller: 'flatpickr-search' } do |f| %>
      <div id="ida">
        <%= text_field_tag :start_time, params[:start_time], data: { 'flatpickr-search-target': "startTime" }, placeholder: "Ida" %>
      </div>
      <div id="volta">
        <%= text_field_tag :end_time, params[:end_time], data: { 'flatpickr-search-target': "endTime" }, placeholder: "Volta" %>
      </div>
      <div id="origem">
        <%= text_field_tag :origin, params[:origin], placeholder: "Origem" %>
      </div>
      <div id="destino">
        <%= text_field_tag :destination, params[:destination], placeholder: "Destino" %>
      </div>
      <div id="pesquisar">
        <%= submit_tag "Pesquisar", class: "btn-main" %>
      </div>
    <% end %>
  </div>


<!-- ACEITAR TUDO ABAIXO -->
  <div class="container">
    <div class="request_card_total">
      <% @requests.each do |request| %>
      <div class="request_card">
        <div>
            <h3> <%= request.request_type %> </h3>
            <p> <i class="fa-regular fa-calendar"></i> <%= l request.start_time, format: :short %> <i class="fa-solid fa-arrow-right"></i> <%= l request.end_time, format: :short %> </p>
            <p> <i class="fa-solid fa-location-dot"></i> <%= request.origin %> <i class="fa-solid fa-arrow-right"></i> <%= request.destination %> </p>
            <p> <i class="fa-regular fa-clock"></i> <%= request.created_at.strftime("%d %b %y") %> </p>
            <p> <%= request.available %> </p>

              <%= link_to "Quero esta chave", request_path(request), :class => "btn btn-main", data: { turbo: true, turbo_frame: "modal" } if policy(Request).new? %>
              <!-- Button trigger modal -->

            <button type="button" class="btn btn-calendar" data-action="click->open-calendar#open" data-open-calendar-id-param='<%= request.id %>'>
              Ver calendário
            </button>
        </div>
        <div>
            <p> <i class="fa-solid fa-user"></i> <%= request.user.first_name %> <%= request.user.last_name %> </p>
            <label class="btn avatar-photo">
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key %>
            <% else %>
              <%= image_tag "https://randomuser.me/api/portraits/women/49.jpg"%>
            </label>
            <% end %>
        </div>
      </div>
      <% end %>
    </div>

  <!-- Modal -->
    <div class="modal modal-lg fade" data-open-calendar-target='modal' tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" data-open-calendar-target='modalBody'>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ACEITAR TUDO ACIMA -->
