<%= render "shared/modal-turbo" do %>
  <div class="d-flex flex-column align-items-center">
    <div class="justify-text-center align-center">
      <div class="text-white bg-warning bg-gradient text-center py-1 mb-2 rounded-3" style="width: 100px">
        <strong>AGUARDE</strong>
      </div>
      <% if @request.request_type == "Folgar" %>
        <h5 class="mt-3"> Você pediu para trabalhar no lugar de <strong><%= @request.user.first_name.capitalize %></strong> </h5>
      <% elsif @request.request_type == "Trabalhar" %>
        <h5 class="mt-3"> Você cedeu dias de trabalho para <%= @request.user.first_name.capitalize %> </h5>
      <% else @request.request_type == "Trocar" %>
        <h5 class="mt-3"> Você quer trocar com <%= @request.user.first_name.capitalize %> </h5>
      <% end %>
      <div class="bg-secondary bg-gradient p-3 mb-2 rounded-3 request_card">
        <p> <i class="fa-regular fa-calendar"></i> <%= l @request.start_time, format: :short %> <i class="fa-solid fa-arrow-right"></i> <%= l @request.end_time, format: :short %> </p> |
        <p> <i class="fa-solid fa-location-dot"></i> <%= @request.origin %> <i class="fa-solid fa-arrow-right"></i> <%= @request.destination %> </p>
      </div>
    </div>

    <div class="justify-text-center align-center gap-2">
      <label class="btn avatar-photo">
        <% if @request.user.avatar.attached? %>
          <%= cl_image_tag @request.user.avatar.key %>
        <% else %>
          <%= image_tag "https://i1.sndcdn.com/avatars-000255771415-dx5rag-t200x200.jpg"%>
        <% end %>
      </label>
      <p class="text-center"><i class="fa-solid fa-user"></i> <strong><%= @request.user.first_name.capitalize %></strong> precisa aprovar!</p>
    </div>
  </div>
  <%= simple_form_for [@request, @exchange], html: { class: "mt-3", data: { turbo: true } } do |f| %>
    <div class="text-center">
      <%= f.submit 'Confirmar', class: "btn-main", data: { turbo: true, turbo_frame: "modal" } %>
    </div>
  <% end %>
<% end %>
