<div class="home-container">
  <div class="home-intro">
    <div class="col plane-bg">
    </div>
    <div class="col-7">
      <div class="text-center m-5">
        <h1>
          <div class="home-h1-blue">
            Life planning made <span class="home-h1-red"data-controller="typed-js"></span>
          </div>
        </h1>
        <h5 class="home-desc"><strong class="home-desc-bold">MyShift</strong> é uma plataforma virtual que permite você <strong class="home-desc-bold">trocar e oferecer </strong> escalas de trabalho dentro da sua companhia aérea. </h5>
      </div>
      <div class="d-flex justify-content-center m-1">
        <iframe src="https://player.vimeo.com/video/779273627?h=b94f038c5c&title=0&byline=0"  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
        </iframe>
      </div>
    </div>
    <div class="col col plane-bg">
    </div>
  </div>
</div>

<%# 2a DIV - CARDS %>

<div class="home-cards">
  <section class="page-contain" style="background-image: url(<%= asset_path 'world-map-pins.jpg'%>);">
    <a href="/users/sign_up" class="data-card">
      <h3>Trocar</h3>
      <h4 class="mt-2">Surgiu um compromisso de última hora?</h4>
      <p>My Shift facilita a sua vida!</p>
      <span class="link-text">
        Cadastre-se já!
        <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#DA1212"/>
        </svg>
      </span>
    </a>
    <a href="/users/sign_up" class="data-card">
      <h3>Folgar</h3>
      <h4 class="mt-2">Folga, Final de semana, Feriado e Férias...</h4>
      <p>Tudo com F de FELICIDADE!</p>
        <span class="link-text">
          Cadastre-se já!
          <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#DA1212"/>
          </svg>
        </span>
    </a>
    <a href="/users/sign_up" class="data-card">
      <h3>Trabalhar</h3>
      <h4 class="mt-2">Precisando de grana?</h4>
      <p>Gostaria de trabalhar mais?</p>
      <span class="link-text">
        Cadastre-se já!
        <svg width="25" height="16" viewBox="0 0 25 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M17.8631 0.929124L24.2271 7.29308C24.6176 7.68361 24.6176 8.31677 24.2271 8.7073L17.8631 15.0713C17.4726 15.4618 16.8394 15.4618 16.4489 15.0713C16.0584 14.6807 16.0584 14.0476 16.4489 13.657L21.1058 9.00019H0.47998V7.00019H21.1058L16.4489 2.34334C16.0584 1.95281 16.0584 1.31965 16.4489 0.929124C16.8394 0.538599 17.4726 0.538599 17.8631 0.929124Z" fill="#DA1212"/>
        </svg>
      </span>
    </a>
  </section>
</div>
<div id="sobre">
  <div class="div-sobre">
    <div class="coluna-50">
      <div class="card-sobre m-5">
        <%= image_tag 'breno.png' %>
        <div class="card-sobre-infos">
          <h2>Breno Augusto</h2>
          <p>Programador Full Stack, com habilidades em Ruby on Rails, JavaScript, SQL, CSS e HTML.</p>
        </div>
      </div>
      <div class="card-sobre m-5">
        <%= image_tag 'raquel.png' %>
        <div class="card-sobre-infos">
          <h2>Raquel Ciuz</h2>
          <p>Programadora Full Stack, com habilidades em Ruby on Rails, JavaScript, SQL, CSS e HTML</p>
        </div>
      </div>
      <div class="card-sobre m-5">
        <%= image_tag 'renoir.png' %>
        <div class="card-sobre-infos">
          <h2>Renoir Lucena</h2>
          <p>Programador Full Stack, com habilidades em Ruby on Rails, JavaScript, SQL, CSS e HTML.</p>
        </div>
      </div>
      <div class="card-sobre m-5">
        <%= image_tag 'tais.png' %>
        <div class="card-sobre-infos">
          <h2>Taís de Campos</h2>
          <p>Programadora Full Stack, com habilidades em Ruby on Rails, JavaScript, SQL, CSS e HTML</p>
        </div>
      </div>
    </div>
    <div class="coluna-50">
        <h5 class="justify-content-center m-5 font-size-lg">Existe um conflito muito grande entre escala de trabalho
         e organização da vida pessoal dentro do ramo da aviação. A cada final de mês a tripulação e pessoal de
         terra das companhias recebem escalas de trabalho do mês seguinte e muitas vezes a escala não é a desejada,
         comprometendo assim o planejamento de vida social dos mesmos.
         Imagina só ficar de fora de um casamento, batizado, aniversário, apresentação do filho na escola
         e outros eventos importantes no círculo do convívio familiar. A troca de escala com colegas de trabalho
         é permitida dentro das companhias, porém o difícil é encontrar as pessoas que desejam a mesma em mensagens
         que se perdem dentro de grupos de whatsapp que possuem diversos tipos de assuntos.</h5>

        <h5 class="justify-content-center m-5 font-size-lg">Com o propósito de resolver este problema,
        quatro programadores se reuniram para criar uma plataforma especializada em troca de escalas
        dentro da indústria da aviação, assim nasceu a MyShift. MyShift permite que o tripulante possa ofertar,
        ver e solicitar chaves de trabalho dentro da plataforma de uma forma muito simples e organizada
        afim que se obtenha aqueles dias de folga e ou trabalho tão desejados. Nossa missão é conciliar trabalho
        e vida social.</h5>
    </div>
  </div>
</div>
